html {
	background: url(images/lightblue.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Raleway';
}

body {
	background: transparent;
}

.navbar {
	font-size: 1.5em;
}

.navbar .navbar-brand {
	font-size: 1.8em;
}

.navbar-nav .open .dropdown-menu {
	font-size: 1em;
	background-color: black;
	color: #777;
}

.navbar-nav .open .dropdown-menu>li>a {
	color: #777;
}

h1 {
	text-align: center;
	font-size: 4em;
	color: black;

}

.table {
	width: 85%;
	margin-left: 7.5%;
	background: transparent;
	color: black;
	text-align: center;
	font-size: 1.5em;
}

.table th {
	text-align: center;
	border-top: none;
}

p {
	font-size: 1.5em;
}

.inputs {
	color: black;
	width: 90%;
	margin-left: 5%;
	font-size: 1.3em;
}

.end {
	text-align: center;
	color: black;
	font-size: 1.2em;
}

/*
html {
	background: radial-gradient(grey, grey, #F7BD38);
}

body {
	font-family: Helvetica;
}

h1 {
	text-align: center;
	font-size: 3em;
	background: transparent;
}

table {
	margin-left: 7.5%;
	position: relative;
	height: auto;
	width: 85%;
	text-align: center;
	color: black;
}

th, td {
	border-bottom: 1px solid white;
	border-collapse: collapse;
}

tr : last-child {
	border-bottom: none;
}

table tr th {
	padding: 10px;
	font-weight: bold;
	font-size: 1.5em;
	width: 300px;
}

table td {
	padding: 5px;
	font-size: 1em;
	font-weight: bold;
}

.input {
	float: left;
	margin-left: 7.13%;
	width: 85%;
	text-align: center;
	color: black;
}

input[type = text] {
	border-bottom: 2px solid blue;
	height: 2em;
	left: 200px;
}

input[type = text]:focus {

	border: 1px solid white;
	font-family: Helvetica;
}

input[type = submit] {
	margin-left: 50%;
	width: 110px;
	height: 40px;
}

.totalinputs {
	display: inline-block;
	font-size: 1.2em;
	font-weight: bold;
	text-align: right;
	float: left;
	vertical-align: top;
	margin: 5px;
	padding: 0px 50px 10px 50px;
	border: 1px solid white;
	border-radius: 5px;
	background: transparent;

}
*/