@CHARSET "ISO-8859-1";

html {
	background: radial-gradient(grey, grey, #F7BD38);
}

body {
	font-family: Helvetica;
}

h1 {
	font-style: italic;
	text-align: center;
	font-size: 3em;
}

table {
	margin-left: 7.5%;
	position: relative;
	height: auto;
	width: 85%;
	text-align: center;
	color: black;
}

table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
}

table tr th {
	padding: 10px;
	font-weight: bold;
	font-size: 1.5em;
	width: 300px;
}

table td {
	padding: 5px;
	font-size: 1em;
	font-weight: bold;
}

.input {
	float: left;
	margin-left: 7.13%;
	width: 85%;
	text-align: center;
	color: black;
}

input[type = text] {
	border-bottom: 2px solid blue;
	height: 2em;
	left: 200px;
}

input[type = text]:focus {

	border: 1px solid white;
	font-family: Helvetica;
}

input[type = submit] {
	margin-left: 50%;
	width: 110px;
	height: 40px;
}

.totalinputs {
	display: inline-block;
	font-size: 1.2em;
	font-weight: bold;
	text-align: right;
	float: left;
	vertical-align: top;
	margin: 5px;
	padding: 0px 50px 10px 50px;
	border: 1px solid white;
	border-radius: 5px;
	background: transparent;

}
