@CHARSET "ISO-8859-1";

html {
	font-family: 'Roboto';
	background-color: grey;
}

h1 {
	text-align: center;
	font-size: 3em;
}

table {
	position: fixed;
	width: 100%;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: #1F1959;
}

table, th, td {
	border: 1px solid grey;
}

table tr th {
	font-weight: bold;
	font-size: 1.5em;
	color: grey;
	width: 300px;
}

table td {
	font-size: 1em;
	color: white;
}